@model IEnumerable<Student_management.Models.Registration>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nicname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telephoneno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Batch.Batch_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course.Course_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nicname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephoneno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Batch.Batch_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course.Course_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Registration_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Registration_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Registration_id })
        </td>
    </tr>
}

</table>
